@charset "UTF-8";
*, *::before, *::after {
    box-sizing: border-box;
}

ul[class], ol[class] {
    padding: 0;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[class], ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

article>*+* {
    margin-top: 1em;
}

input, button, textarea, select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.footer {
    color: #111111;
    padding: 0px 20px;
    margin-bottom: 30px;
}

.footer__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #cc50cc;
}

.footer__logo a {
    display: flex;
    align-items: center;
    padding-left: 5px;
    color: #111111;
    text-decoration: none;
    cursor: pointer;
}

.conteiner {
    width: 70%;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(3, 56, 244, 0.71) 0%, rgba(224, 37, 206, 0.79) 93.75%);
    padding: 0px 10px;
    display: flex;
}

@media (max-width: 960px) {
    .conteiner {
        flex-direction: column;
    }
}

.main__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(196, 196, 196, 0.3);
    border-radius: 10px;
    margin: 10px;
    padding: 18px;
}

@media (max-width: 960px) {
    .main__left {
        width: 95%;
    }
}

@media (max-width: 600px) {
    .main__left {
        width: 95%;
        margin: 10px;
        padding: 0px 20px;
    }
}

.main__log {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo__avatar img {
    width: 100px;
    height: 110px;
    border-radius: 50%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

.logo__avatar:hover {
    animation-name: flip_animation;
    animation-duration: 1s !important;
}

@keyframes flip_animation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.logo__title h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    color: #CECACA;
}

.logo__title h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    color: #FFFFFF;
}

.logo__title p {
    font-family: ' Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #CECACA;
}

@media (max-width: 600px) {
    .main__log {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo__avatar img {
        margin-top: 20px;
    }
}

.main__contacts {
    margin-top: 30px;
    margin-bottom: 13px;
}

.contacts__row {
    display: flex;
    align-items: center;
    justify-content: left;
    background: rgba(196, 196, 196, 0.35);
    border-radius: 10px;
    margin: 10px 0px;
    position: relative;
}

.contacts__row:after {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #711ea8;
    transition: all 1s;
}

.contacts__row:hover:after {
    width: 100%;
}

.row__img {
    padding: 0px 15px;
}

.row__link {
    padding: 10px 5px;
    padding-left: 30px;
}

.row__link a {
    font-family: 'Arial';
    font-size: 15px;
    line-height: 16px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
}

.row__link a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.row__link a:visited {
    text-decoration: underline;
    color: #fbf8fc;
}

.hobbies__title {
    width: 25%;
    padding: 5px;
    background: rgba(196, 196, 196, 0.35);
    border-radius: 10px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    padding: 10px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}

.main__hobbies-content {
    display: flex;
    justify-content: space-between;
}

.hobbies__row {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row__text p {
    margin-top: 5px;
    font-family: ' Montserrat';
    font-weight: bold;
    font-size: 10px;
    line-height: 18px;
    color: #E5E5E5;
}

.main__knowledge {
    margin-bottom: 13px;
    background: rgba(196, 196, 196, 0.3);
    border-radius: 10px;
}

.knowledge__title h4 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    padding-left: 15px;
    padding-top: 10px;
}

.knowledgies_item {
    font-family: 'Calibri';
    font-size: 14px;
    line-height: 18px;
    color: #FAFAFA;
    list-style: none;
    margin: 10px 0px;
    position: relative;
}

.knowledgies_item::before {
    content: " ";
    display: block;
    border: 1px solid #FAFAFA;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: -20px;
    color: #FAFAFA;
}

.main__lenguages {
    background: rgba(196, 196, 196, 0.35);
    border-radius: 10px;
    padding: 6px 20px 10px 20px;
    margin-bottom: 13px;
}

.lenguages__title {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.lenguages__list p {
    margin: 0;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #FAFAFA;
    margin: 5px;
    margin-left: 0px;
}

.lenguages__list-content {
    display: flex;
}

.lenguages_item {
    display: flex;
    align-items: center;
}

.lenguages_item-img {
    display: flex;
}

.lenguages_item-img img {
    margin: 0px 2px;
}

.main__social {
    margin-bottom: 13px;
    background: rgba(196, 196, 196, 0.35);
    border-radius: 10px;
    padding: 6px 20px 10px 5px;
    margin-bottom: 13px;
}

.social__title h4 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    padding-left: 15px;
    padding-top: 10px;
}

.social_item {
    font-family: 'Calibri';
    font-size: 14px;
    line-height: 18px;
    color: #FAFAFA;
    list-style: none;
    margin: 10px 0px;
    position: relative;
}

.social_item a {
    text-decoration: none;
    color: #FAFAFA;
}

.social_item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.social_item::before {
    content: " ";
    display: block;
    border: 1px solid #FAFAFA;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: -20px;
    background-color: #FAFAFA;
}

.main__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    padding: 18px;
}

@media (max-width: 960px) {
    .main__right {
        width: 96%;
        margin: 15px;
    }
}

.experience__title {
    display: flex;
    max-width: 154px;
    background: #545454;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
}

.experience__title h4 {
    padding: 0px 25px;
}

.experience__content {
    width: 100%;
    border-top: 1px solid #545454;
    margin-top: -15px;
}

.experience__content-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #343434;
    margin: 12px 0px;
    padding-top: 15px;
}

.experience__content-time {
    font-family: 'Montserrat', sans-serif;
    font-size: 9px;
    line-height: 18px;
    color: #73808D;
}

.experience__content-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.8);
}

.education {
    margin: 15px 0px;
}

.education__title {
    display: flex;
    max-width: 154px;
    background: #545454;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
}

.education__title h4 {
    padding: 0px 25px;
}

div.education>div:nth-child(2) {
    width: 100%;
    border-top: 1px solid #545454;
    margin-top: -15px;
}

.education__content-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #343434;
    margin: 12px 0px;
    padding-top: 15px;
}

.education__content-time {
    font-family: 'Montserrat', sans-serif;
    font-size: 9px;
    line-height: 18px;
    color: #73808D;
}

.education__content-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.8);
}

.skils {
    margin: 15px 0px;
}

.skils__title {
    display: flex;
    max-width: 154px;
    background: #545454;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
}

.skils__title h4 {
    padding: 0px 25px;
}

.skils__content {
    margin-top: -15px;
    padding-top: 15px;
    border-top: 1px solid #545454;
    display: flex;
    justify-content: space-between;
}

.skils__content-items {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    margin-top: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #545454;
    align-items: center;
}

.skils__content-items p {
    margin-top: 5px;
}

.skils__content-items img {
    padding: 10px 5px;
    max-width: 100%;
    object-position: center;
    object-fit: cover;
}

.content-items-img:nth-child(1) {
    border: 3px solid #3B5999;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.4);
}

div.skils__content>div:nth-child(3)>div {
    border: 3px solid #3B5999;
    border-left: 3px solid #fdfbfb;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.4);
}

.other-skils {
    margin: 15px 0px;
}

.other-skils__title {
    display: flex;
    width: 154px;
    background: #545454;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
}

.other-skils__title h4 {
    padding: 0px 25px;
}

.other-skils__content {
    width: 100%;
    margin-top: -15px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #545454;
}

.project-link {
    margin-top: 20px;
    background-image: url(./src/img/Снимок.PNG);
    width: 60%;
    height: 150px;
    background-position: center;
    background-size: cover;
}

.other-skils__content-items {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    margin-top: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #545454;
    align-items: center;
}

.other-skils__content-items p {
    margin-top: 5px;
}

.other-skils__content-items img {
    padding: 10px 5px;
    max-width: 100%;
    object-position: center;
    object-fit: cover;
}

.content-items-img {
    border: 3px solid #3B5999;
    border-left: 3px solid #fdfbfb;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.4);
}

.about-myself__title {
    display: flex;
    width: 154px;
    background: #545454;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
}

.about-myself__title h4 {
    padding: 0px 5px;
    text-align: center;
}

.about-myself__content {
    width: 100%;
    border-top: 1px solid #545454;
    margin-top: -15px;
}

.card-title {
    color: #FFFFFF;
    padding-left: 10px;
    padding-top: 15px;
}

.visiting__bigtext {
    color: #FFFFFF;
    font-size: 0.8rem;
    padding-left: 10px;
}

.credo {
    font-family: 'Dancing Script', cursive;
    padding-top: 15px;
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;
    color: #343434;
    margin: 12px 0px;
    text-align: center;
}

.main {
    margin-top: 30px;
    display: flex;
    padding: 0px 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}